# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# General
__pycache__/
.DS_Store

# Python Virtual Environment
rl-env/
rl-env/bin/
rl-env/include/
rl-env/lib/
rl-env/share/
rl-env/pyvenv.cfg

# Compiled Python Files
*.pyc
*.pyo

# IDE/Editor Specific
.vscode/
